img {
    display: none;
}
#dude {
    display: none;
}
#myCanvas{
    border: 30px solid #808080; 
    border-top: 0;
    border-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
body{
    background-color: black;
}

